{% load static %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KrishiMandi Storage System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    
    <style>
       .carousel-item {
        height: 70vh;
        min-height: 350px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>
    </head>
    <body>
      {% include 'Godowns/Navbar.html' %}
    

      {% block content %}
        <header>
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
          <div class="carousel-inner" role="listbox">
              <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('static/images/1.jpg')">
              <div class="carousel-caption d-none d-md-block">
                  <h4 class="display-4">Wel-Come To</h4>
                  <p class="lead">Krishi-Mandi Storage System</p>
                </div>
              </div>
              <!-- Slide Two - Set the background image for this slide in the line below -->
              <div class="carousel-item" style="background-image: url('static/images/2.jpg')">
                <div class="carousel-caption d-none d-md-block">
                  <h4 class="display-4">Wel-Come To</h4>
                  <p class="lead">Krishi-Mandi Storage System</p>
                </div>
              </div>
              <!-- Slide Three - Set the background image for this slide in the line below -->
              <div class="carousel-item" style="background-image: url('static/images/3.jpg')">
                <div class="carousel-caption d-none d-md-block">
                  <h4 class="display-4">Wel-Come To</h4>
                  <p class="lead">Krishi-Mandi Storage System</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
          </div>
        </header>

        <!-- Page Content -->

            <h1 class="font-weight-light">Know about Mandi</h1>
            <p class="lead">Mandi in Hindi language means market place. Traditionally, such market places were for food and agri-commodities are getting sold and bought.Farmers are required to sell their produce via auction at the mandi in their region. Traders require a license to operate within a mandi.An Agricultural Produce Market Committee (APMC) is a marketing board established by state governments in India to ensure farmers are safeguarded from exploitation by large retailers, as well as ensuring the farm to retail price spread does not reach excessively high levels. APMCs are regulated by states through their adoption of a Agriculture Produce Marketing Regulation (APMR) Act. <a href="https://en.wikipedia.org/wiki/Agricultural_produce_market_committee">More..</a>!</p>
        
      {% endblock %}
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>                            
